<html>
<head>
    <title>Chat</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
</head>
<body>
    <script type="text/javascript">
     $(document).ready(function(){
       var socket=io.connect('http://127.0.0.1:5000');
       socket.on("connect",function()
       {
         socket.send("User logged in");
       });
       socket.on('message',function(msg){
         $("#messages").append('<li>'+msg+'</li>')
       });

        $('#sendb').click(function(){
         console.log("button is pressed");
         if($('#myMessage').val() != "")
         {
         socket.send($('#myMessage').val());
         $('#myMessage').val('');
       }
       //socket.emit('roomc')
       //console.log('emitted')
       });
     });
    </script>
    <ul id="messages">

    </ul>
    <input type="text" id="myMessage">
    <button id="sendb">Send</button>
    <br/>
    <select id="receiver">
      <option value="ankur">Ankur</option>
      <option value="shantanu">Shantanu</option>
    </select>
</body>
</html
